<ion-view>
    <ion-content>
        <div class="text-center bg-myface">
            <br>
            <br>
            <img src="https://graph.facebook.com/{{ user.id }}/picture?width=120&height=120" style="border-radius: 100%;" />
            <h4>{{user.name}}</h4>
            <br>
        </div>
        <div class="list">
            <a class="item item-icon-left" ng-click="facebookPage(item)" ng-repeat="item in pages">
                <img src="https://graph.facebook.com/{{ item.id }}/picture?width=40&height=40" style="border-radius: 100%; margin-bottom: -13px;" /> <label>{{item.name}}</label>
            </a>
        </div>
        <!--         <div class="bottom-content row">
            <div class="col col-bottom text-center">
                <a class="button button-full button-confirm" ng-click="facebookPage(item)">
            ยืนยัน
          </a>
            </div>
        </div> -->
    </ion-content>
</ion-view>
