<ion-view >
    <div class="bar bar-header BG-Blue">
        <div class="row">
            <div class="col col-10">
                <ion-nav-bar>
                    <ion-nav-back-button class="button-clear">
                        <i class="ion-ios-arrow-back"></i>
                    </ion-nav-back-button>
                </ion-nav-bar>
            </div>
            <div class="col col-90">
               <h1 class="title" style="color:#FFF;">Post</h1>
            </div>
        </div>
    </div>
    <ion-content scroll="true">
        <div class="list list-inset">
            <img src="https://graph.facebook.com/{{ pages.id }}/picture?width=20&height=20" />
            <label>{{pages.name}}</label>
            <br>
            <br>
            <label class="item item-input">
                <textarea placeholder="What's on your mind?" ng-model="item.message" rows="10"></textarea>
            </label>
            <button class="button button-block button-positive" ng-click="post()">
                Post
            </button>
            <p>{{status}}</p>
        </div>
    </ion-content>
</ion-view>
